@import url('https://fonts.googleapis.com/css2?family=Lacquer&display=swap');

:root {
    
    --cor-principal:#92f0a6;
    --cor-secundaria:#57aa7a;
    --cor-destaque:#6e9f72;

}
body{

    font-family: 'lacquer', sans-serif;
}
h1,h2,h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}
footer a {
    color: var(--cor-principal);
}
footer a:hover {
color: var(--cor-destaque);
}